*{
	margin:0;
	padding:0;
	font-family:arial;
}


header{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/handy.jpg);
	background-size:cover;
	height:100vh;
	background-position:cover;
}


body{
   	background-image: url(images/bgforpage.jpeg);
   	background-position:cover;
    background-attachment:fixed;
    background-size:cover
     
}


nav{
	width:100%;
    height:85px;
	background-color:#0008;
}

nav div h2{
    margin-left:5px;
   	color: #bd1981 ;
}


ul{       
	float:right;
	list-style-type:none;
	margin-top:-20px;


}

ul li{
	display:inline-block;
}

ul li a{
	text-decoration:none;
	color:   #acded9 ;
	margin:3px;
	padding:5px 11px ;
	border:1px solid transparent;
	transition:0.8s all;
	background-color:none; ;
	font-size:18px;

}

ul li a:hover{
	background-color: #63ab27  ;
	color: #bd1981  ;
	text-decoration: none;
}

ul li.active a{
	background-color: #63ab27 ;
	color: #bd1981  ;
}

i{
	margin:2px;
}
.skilp{
	float:left;
	margin-left:-40px;
	width:150px;
	height:auto;
}

.main{
	max-width:1200px;
	margin-left:5px;
}

.title{
	position:absolute;
	top:55%;
	left:50%;
	transform:translate(-50%,-50%);

}

.title h1{
	color:#C70039  ;
	font-size:70px;
}


.frontblock{
	position:absolute;
	top:60%;
	height:100vh;
	left:5%;
   

}

.frontblock h3{
	color:#fff;
	font-size:25px;
}

.frontblock div.para1{
	top:55%;
}

.frontblock div.para2{
	top:60%;
}


.frontblock div .cssbutton a{
	left:50px;
}




.btn{
	border:1px solid #fff;
	padding:10px 30px;
	color:#fff;
	text-decoration:none;
}

.btn:hover{
	background-color:#c73045;
	color:#000 ;
	text-decoration: none;
	border:transparent;
	padding:15px;
	letter-spacing:3px;
}


.instbg{
	background-image:url(images/teach.jpg);
	background-size:cover;
	background-attachment:fixed;
	color:#e89c35;
	
}

.instreg h2{
	font-family:arial;
}

.instbgposition{
	margin-top:50px;

}

.glyphicon-pencil{
	font-size:50px;
	color:white;
	float:right;
	margin-top:20px;
}

.instbg h3{
	font-size:25px;
	margin-top:200px;
	color:  #916a35 ;
}

hr{
	border-color:#e89c35;
	background:rgba(0,0,0.4);
}


.label{
	margin-left:-20px;
	font-weight:normal;
	margin-top:15px;
	color:#e89c35;
	font-size:19px;
}

.form-control{
	margin-top:10px;
	margin-left:-40px;
	background:transparent;
	box-shadow:1px 1px 50px 1px #e89c35;
	border-radius:0px;
	border:0px;
	border-bottom:1px solid #e89c35;
	font-size:16px;
	height:40px;
}

.btn-default{
   margin-top:3px;
   margin-left:-19px;
   font-size:20px;
   width:450px;
}

.sub-menu-1{
   display:none;
}

ul li ul{
	background-color:#000033;
	border:none;
}

ul li ul li{
	float:none;
}

ul li:hover .sub-menu-1{
	display:block;
	position:absolute;
	background-color:#63ab27;
	margin-top:1px;
	margin-left:3px;
	
}

ul li:hover .sub-menu-1 ul{
	display:block;
	margin:10px;
}

ul li:hover .sub-menu-1 ul li{
	width:57.5px;
	height:20px;
	padding:12px;
	border-width:1px;
	background:transparent;
	border-radius: 0;
	text-align:left;
	float:none;
}

ul li:hover .sub_li{
	background-color:#63ab27;
	margin-top:5px;
}

